/* Polices personnalisées */

@font-face {
	font-family: 'Raleway';
	src: url('./projet_reservia/fichiers_source/Raleway/static/Raleway-Light.ttf');
	src: url('./projet_reservia/fichiers_source/Raleway/static/Raleway-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* BODY */

#container {
	font-family: 'Raleway', sans-serif;
	margin: auto;
	max-width: 1500px;
}

a {
	text-decoration: none;
}

h2 {
	font-size: x-large;
	font-family: 'Raleway', sans-serif;
}

h3 {
	font-family: 'Raleway', sans-serif;
	color: black;
	font-size: 1.2em;
}


/* HEADER */


	/* Logo */

header {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
}

.logo {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: flex-start;
}

.logo img {
	width: 140px;
}

	/* Liens de navigations */

.nav_hebergements {
	color: black;
	padding-top: 33px;
	padding-right: 20px;
	padding-left: 20px;
}

.nav_activites {
	color: black;
	padding-top: 33px;
	padding-right: 20px;
	padding-left: 20px;
}

.nav_signup_desktop {
	font-weight: bold;
	color: #0065FC;
	padding-top: 33px;
	padding-right: 20px;
	padding-left: 20px;
	font-size: 1.2em;
	display: flex;
}

.nav_hebergements:hover,
.nav_activites:hover {
	padding-right: 20px;
	padding-left: 20px;
	border-top: 2px solid #0065FC;
	color: #0065FC;
}

.nav_signup_mobile {
	display: none;
}

.navigateur {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

nav a {
	font-size: 1.2em;
	color: #0065FC;
}

nav {
	display: flex;
	flex-direction: row;
	align-items: center;
}

/* SECTION 1 */


	/* Introduction */

.intro {
	padding-bottom: 10px;
}


	/* Barre de recherche */

.icone_position {
	border: 1px solid #F2F2F2;
	border-radius: 10px 0px 0px 10px;
	padding: 10px 15px 10px 15px;
	background-color: #F2F2F2;
}

.search_bar {
	border: 1px solid #F2F2F2;
	padding-bottom: 11px;
	padding-top: 13px;
	padding-left: 20px;
	padding-right: 25px;
}

.search_bar::placeholder {
	color: black;
	font-size: 1.2em;
	font-weight: bold;
	font-family: 'Raleway', sans-serif;
}

.rechercher {
	border: 1px solid #0065FC;
	border-radius: 0px 10px 10px 0px;
	padding: 12px 15px 11px 15px;
	background-color: #0065FC;
	color: white;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

.search_icon {
	visibility: hidden;
}

	/* Filtres */

.filters {
	display: flex;
	margin-top: 20px;
	align-items: center;
}

.button_filters {
	display: flex;
	padding: 20px;
}

.eco,
.family,
.love,
.animals {
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	color: black;
	font-size: 15px;
	font-weight: bold;
	padding-right: 20px;
}

.button_eco,
.button_family,
.button_love,
.button_animals {
	background-color: white;
	border: 2px solid #F2F2F2;
	border-radius: 25px;
	padding: 10px;
}

.button_eco:hover,
.button_family:hover,
.button_love:hover,
.button_animals:hover {
	background-color: ghostwhite;
	transform: scale(1.1);
}

.icone_eco,
.icone_family,
.icone_love,
.icone_animals {
	border: 1px solid #DEEBFF;
	background-color: #DEEBFF;
	border-radius: 100%;
	color: #0065FC;
	font-size: 18px;
	padding: 10px;
	margin: 0px 10px 0px -15px;
}

.icone_family {
	padding: 10px 15px 10px 15px;
}


	/* Informations */

.icone_info {
	color: #0065FC;
	border: 2px solid #F2F2F2;
	border-radius: 100%;
	padding: 5px 10px 5px 10px;
	margin-right: 10px;
}


/* SECTION 2 */

	/* Hébergements à Marseille */

.section_2 {
	display: flex;
}

#hebergements {
	border: 1px solid #F2F2F2;
	border-radius: 20px;
	background: #F2F2F2;
	padding: 20px;
	margin: 10px;
	width: 65%;
	display: flex;
	flex-wrap: wrap;
}

.title_marseille {
	padding: 5px;
	margin: 10px;
}

.photo img {
	width: 290px;
	height: 150px;
	border-radius: 20px 20px 0px 0px;
	object-fit: cover;
	object-position: center;
}

.first_line,
.second_line {
	display: flex;
}

.article_1,
.article_2,
.article_3,
.article_4,
.article_5,
.article_6 {
	background: white;
	border-radius: 20px;
	padding: 5px;
	text-align: left;
	color: black;
	margin: 10px;
	box-shadow: 2px 2px 10px grey;
}

.article_1:hover,
.article_2:hover,
.article_3:hover,
.article_4:hover,
.article_5:hover,
.article_6:hover {
	transform: scale(1.1);
}

.article_1_text,
.article_2_text,
.article_3_text,
.article_4_text,
.article_5_text,
.article_6_text
 {
	font-size: 0.8em;
	padding: 5px;
	color: black;
}

.star_blue {
	color: #0065FC;
}

.star_grey {
	color: #F2F2F2;
}

.more {
	color: black;
	font-weight: bold;
	font-size: 1.2em;
	padding: 5px;
	margin: 10px;
}

.more:hover {
	font-size: 1.3em;
}

	/* Les plus populaires */

aside {
	border-radius: 20px;
	background: #F2F2F2;
	padding: 10px;
	margin: 10px;
	width: 30%;
	display: flex;
	flex-direction: column;
}

.title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	margin: 0px 10px 0px 10px;
}

.chart_line {
	font-size: 25px;
}

.articles_popular {
	display: flex;
	flex-direction: column;
}

.article_7,
.article_8,
.article_9 {
	background: white;
	border-radius: 20px;
	padding: 5px;
	color: black;
	margin: 10px;
	box-shadow: 2px 2px 10px grey;
}

.article_7:hover,
.article_8:hover,
.article_9:hover {
	transform: scale(1.1);
}

.article_7 a,
.article_8 a,
.article_9 a {
	display: flex;
	flex-direction: row;
	object-fit: cover;
	text-align: left;
}

.photo_1 img {
	width: 160px;
	height: 180px;
	border-radius: 20px 0px 0px 20px;
	object-fit: cover;
	object-position: right;
}

.article_7_text,
.article_8_text,
.article_9_text
 {
	font-size: 0.8em;
	padding: 5px;
	color: black;
	margin: 10px;
}

.stars_1 {
	margin-top: 55px;
	color: #0065FC;
}
.star40,
.star45 {
	color: #F2F2F2;
}

/* SECTION 3 */

#activites {
	display: flex;
	flex-wrap: wrap;	
	margin: auto;
	width: 1500px;
}

.title_section_3 {
	padding: 10px;
	margin: 20px;
}

.activity {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px;
}

.photo_a1 img{
	width: 350px;
	height: 450px;
	border-radius: 20px 20px 0px 0px;
	object-fit: cover;
	object-position: center;
}

.photo_a2 img {
	width: 350px;
	height: 230px;
	border-radius: 20px 20px 0px 0px;
	object-fit: cover;
	object-position: center;
}

.photo_a3 img {
	width: 350px;
	height: 155px;
	border-radius: 20px 20px 0px 0px;
	object-fit: cover;
	object-position: center;
}

.photo_a4 img {
	width: 350px;
	height: 450px;
	border-radius: 20px 20px 0px 0px;
	object-fit: cover;
	object-position: center;
}

.photo_a5 img {
	width: 350px;
	height: 180px;
	border-radius: 20px 20px 0px 0px;
	object-fit: cover;
	object-position: center;
}

.photo_a6 img {
	width: 350px;
	height: 205px;
	border-radius: 20px 20px 0px 0px;
	object-fit: cover;
	object-position: center;
}

.article_10:hover,
.article_12:hover,
.a_11:hover,
.a_12:hover,
.a_14:hover,
.a_15:hover {
	transform: scale(1.05);
}

.article_10,
.article_12,
.a_11,
.a_12,
.a_14,
.a_15 {
	background: white;
	border-radius: 20px;
	color: black;
	box-shadow: 2px 2px 10px grey;
	display: flex;
	margin: 10px;
}

.title_activity {
	padding: 5px;
	margin: 10px;
	font-size: 1em;
}

/* FOOTER */

footer {
	background: #F2F2F2;
	width: 100%;

}

.footer {
	display: flex;
	flex-direction: row;
}

.text {
	list-style-type: none;
	font-family: 'Raleway';
	font-size: 0.9em;
	padding: 10px;
	margin: 15px;
	margin-right: 120px;
	padding-left: 150px;
}

.text a {
	color: black;
}

.li_footer {
	padding-bottom: 10px;
}

/* RESPONSIVE SMARTPHONE */


@media screen and (max-width: 375px) {
	#container {
		width: 100%;
		margin: auto;
	}

	* {
	margin: 0px;
	padding: 0px;
	}

	/* HEADER */

	.logo img {
		display: block;
		margin: 20px;
	}

	header {
		display: block;
	}

	nav {
		display: block;
	}

	.navigateur {
		display: flex;
		justify-content: space-around;
	}

	.nav_hebergements {
	width: 50%;	
	padding-bottom: 25px;
	padding-right: 20px;
	padding-left: 20px;
	border-top: none;
	border-bottom: 2px solid #0065FC;
	}

	.nav_activites {
	width: 50%;
	color: black;
	padding-bottom: 25px;
	padding-right: 20px;
	padding-left: 20px;
	border-bottom: 2px solid #F2F2F2;
	border-top: none;
	}

	.nav_activites:hover{
		border-bottom: 2px solid #0065FC;
		border-top: none;
	}

	.signup_desktop {
		display: none;
	}

	.nav_signup_mobile {
		display: flex;
		margin-right: 25px;
		font-size: larger;
		font-weight: bold;
		color: #0065FC;
	}

	.mobile {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	/* SECTION 1 */

	.section_1 {
		margin: 20px;
	}

	.search {
		display: flex;
		justify-content: center;
		margin: 20px;
	}

	.search_icon {
		visibility: visible;
		border: 1px solid #0065FC;
		border-radius: 0px 10px 10px 0px;
		padding: 12px 15px 11px 15px;
		background-color: #0065FC;
		color: white;
	}

	.rechercher {
		display: none;
	}

	.filters {
		display: flex;
		flex-wrap: wrap;
	}

	.button_filters {
		display: flex;
		flex-wrap: wrap;
	}

	.button_eco,
	.button_family,
	.button_love,
	.button_animals {
		margin-bottom: 10px;
	}

	/* SECTION 2 */

	.section_2 {
		display: flex;
		flex-direction: column-reverse;
		width: 100%;
	}

	aside {
		width: 100%;
		border-radius: 0px;
		background-size: 100%;
		margin: 0px;
		padding: 0px;
	}

	#hebergements {
		width: 100%;
		border: none;
		background-color: white;
		margin: 0px;
		padding: 0px;
		display: flex;
	}

	.title_marseille {
		margin: 10px;
	}

	.first_line,
	.second_line {
		display: flex;
		flex-direction: column;
	}

	.article_1,
	.article_2,
	.article_3,
	.article_4,
	.article_5,
	.article_6 {
		width: auto;
		height: 184px;
		display: flex;
	}

	.photo img {
		width: 350px;
		height: 110px;
		border-radius: 20px 20px 0px 0px;
		object-fit: cover;
		object-position: center;
	}

	.article_1_text,
	.article_2_text,
	.article_3_text,
	.article_4_text,
	.article_5_text,
	.article_6_text
	 {
		font-size: 0.8em;
		padding: 5px;
		margin: 1px;
	}

	.title_article {
		margin: 0.5px;
	}

	.stars {
		margin: 0.5px;
	}

	/* SECTION 3 */

	#activites {
		display: flex;
		flex-direction: column;
		width: 100%;
		margin: 0px;
		padding: 0px;
	}

	.activity {
		display: flex;
		flex-direction: column;
		margin: 0px;
		margin-bottom: 30px;
		padding: 0px;
	}

	.photo_a1 img,
	.photo_a2 img,
	.photo_a3 img,
	.photo_a4 img,
	.photo_a5 img,
	.photo_a6 img {
		width: 355px;
		height: 150px;
	}

	/* FOOTER */

	.footer {
		display: flex;
		flex-direction: column;
		width: 100%
	}	

	.text {
	list-style-type: none;
	padding: 20px;
	margin: 20px;
	}

	h3 {
		padding-bottom: 10px;
	}
}

/* RESPONSIVE TABLETTE */

@media screen and (min-width: 400px) and (max-width: 768px) {
	#container {
		width: 100%;
		margin: auto;
	}

	* {
		margin: 0px;
		padding: 0px;
	}

		.logo img {
		display: block;
		margin: 20px;
	}

	header {
		display: flex;
	}

	nav {
		display: flex;
	}

	/* SECTION 1 */

	.section_1 {
		margin: 20px;
		padding-top: 10px;
	}

	.search {
		display: flex;
		justify-content: flex-start;
		margin: 20px 20px 20px 0px;
	}

	.search_icon {
		visibility: visible;
		border: 1px solid #0065FC;
		border-radius: 0px 10px 10px 0px;
		padding: 12px 15px 11px 15px;
		background-color: #0065FC;
		color: white;
	}

	.rechercher {
		display: none;
	}

	.filters {
		display: flex;
		flex-wrap: wrap;
	}

	.button_filters {
		display: flex;
		flex-wrap: wrap;
	}

	.button_eco,
	.button_family,
	.button_love,
	.button_animals {
		margin-bottom: 10px;
	}

	/* SECTION 2 */

	.section_2 {
		display: flex;
		flex-direction: column-reverse;
		width: 100%;
	}

	aside {
		display: flex;
		justify-content: center;
		width: 100%;
		margin: auto;
		border-radius: 0px;
		background-size: 100%;
	}

	#hebergements {
		display: flex;
		border: none;
		background-color: white;
	}

	.articles_marseille {
		display: flex;
		justify-content: center;
	}

	.title_marseille {
		margin: 0px;
	}

	.first_line,
	.second_line {
		display: flex;
		flex-direction: column;
	}

	.article_1,
	.article_2,
	.article_3,
	.article_4,
	.article_5,
	.article_6 {
		width: auto;
	}

	.photo img {
		width: 329px;
		height: 110px;
		border-radius: 20px 20px 0px 0px;
		object-fit: cover;
		object-position: center;
	}

	.article_1_text,
	.article_2_text,
	.article_3_text,
	.article_4_text,
	.article_5_text,
	.article_6_text {
		font-size: 0.8em;
	}

	.title_article {
		margin: 0.5px;
	}

	.stars {
		margin: 0.5px;
	}

	/* SECTION 3 */

	#activites {
		display: flex;
		width: auto;
	}

	.article_11 {
		order: 1
	}

	.article_13 {
		order: 2;
	}

	.photo_a1 img,
	.photo_a2 img,
	.photo_a3 img,
	.photo_a4 img,
	.photo_a5 img,
	.photo_a6 img {
		width: 300px;
		height: 150px;
	}

	/* FOOTER */

	.footer {
		display: flex;
		justify-content: center;
	}

	.text {
	list-style-type: none;
	padding: 20px;
	margin: 20px;
	}

	h3 {
		padding-bottom: 10px;
	}
}